@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --blueColor: #0078d7;
  --mainWhite: #fff;
  --softwhite: #eee;
  --grey: #ddd;
  --black: #000;
  --clearBlack: #999;
  --linkColor: #212529;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  color: #333;
  background: var(--softwhite);
  font-weight: 400;
}

/* -------------------------------------------NAVBAR */

nav {
  height: 58px;
  background: var(--mainWhite);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 2rem;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.logo {
  text-decoration: none;
}

.logo h2 {
  color: var(--blueColor);
}

nav > ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  height: 100%;
  color: var(--linkColor);
}

.active {
  color: #8a4baf;
}

nav > ul > li {
  cursor: pointer;
}

.nav-link {
  color: var(--clearBlack);
  text-decoration: none;
  font-size: inherit;
}

main {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  width: 100%;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--mainWhite);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.books {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-sec .action {
  text-transform: capitalize;
  color: var(--clearBlack);
  font-weight: bold;
}

.title-sec .title {
  text-transform: capitalize;
  color: var(--black);
}

.title-sec .author {
  text-transform: capitalize;
  color: var(--blueColor);
  margin-bottom: 15px;
}

.title-sec .button {
  text-transform: capitalize;
  color: var(--blueColor);
  border: none;
  outline: none;
  background: transparent;
}

#remove-btn {
  padding-left: 5px;
  padding-right: 5px;
  border-left: 2px solid var(--grey);
  border-right: 2px solid var(--grey);
}

#edit-btn {
  padding-left: 5px;
}

#commentsbtn {
  padding-right: 5px;
}

.second-child {
  display: flex;
  align-items: center;
  width: 50%;
  padding-right: 50px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  padding-right: 50px;
  border-right: 2px solid var(--grey);
}

.percentage p {
  text-transform: capitalize;
  color: var(--clearBlack);
}

.status-bar {
  height: 60px;
  width: 60px;
  border-radius: 125px;
  background: var(--grey);
}

.status-bar-inner {
  height: 100%;
  width: 100%;
  border: 3px solid var(--blueColor);
  border-radius: 125px;
}

.chapter {
  padding-left: 50px;
}

.chapter h4 {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.update-progress-btn {
  background: var(--blueColor);
  color: #eeeee9;
  font-weight: lighter;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
}

form {
  width: 100%;
  border-top: 1px solid var(--grey);
  margin-top: 2rem;
}

form h3 {
  text-transform: uppercase;
  color: var(--clearBlack);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chapter h3 {
  text-transform: uppercase;
  color: var(--clearBlack);
}

.inputs-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs-wrap input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.inputs-wrap input::placeholder {
  color: var(--clearBlack);
}

#title-label {
  width: 65%;
}

#author-label {
  width: 20%;
}

#title-label,
#author-label {
  display: flex;
  align-items: center;
}

.submit-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  width: 10%;
  color: var(--mainWhite);
  background: var(--blueColor);
  text-transform: uppercase;
}
